@{
    ViewBag.Title = "setplayer";
    Layout = "~/Views/Shared/_Layout.Edit2.cshtml";
}

@section MainContent{

<input id="mid" name="mid" type="hidden" value="@ViewBag.mid"/>

    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label"><span class="required">*</span>替换手机：</label>
                <div class="controls">
                    @Html.TextBox("mobile", "",new { @class = "m-wrap large" })
                </div>
            </div>
            <div style="color:red;">@ViewBag.err</div>
        </div>
    </div>
}


