@{
    ViewBag.Title = "import";
    Layout = "~/Views/Shared/_Layout.Edit2.cshtml";
}
<br/>

<div class="form-group">
    <label style="width:80px;float: left;line-height: 27px;margin: 0 20px">选择比赛</label>
    <select class="form-control" style="width:320px; " id="match" name="match">
        @Html.Raw(ViewBag.match)
    </select>
</div>

<div class="form-group">
    <label style="width:80px;float: left;line-height: 27px;margin: 0 20px">选择文件</label>
    <input type="file" id="file" name="file" style="width:320px; " />
</div>

